body
{
    background-color: #ccc;
}
img
{
    width:85%;
}

/*.prettyprint
{
    align-items: left;
    position: relative;
    left: 0%;
    top:2%;
}*/

/*.menu{
    position: relative;
    float: left;
    justify-content: space-around;
        list-style: none;
}
.en-menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-left: 20px;
    text-decoration: none;
    transform: translateY(-3em);
    z-index: -1;
        list-style: none;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s,z-index 0s linear 0.01s;
}
.menu:focus .en-menu,
.menu:focus-within .en-menu,
.menu:hover .en-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}
nav a{
    color: black;
    display: block;
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    padding-top: 10px;
    padding-bottom: 5px; 
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px; 
    overflow: hidden;
    transition: 0.2s;
    border-radius: 5px;
}
.en-menu a
{
    position: relative;
    display: inline-block;

    padding: 5px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    margin-top: 2px; 
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px; 
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    color: #fff;
    border-left:2px solid #2196f3;
}
.en-menu a:hover
{   left:8px;
    color:#219;
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);*/


/*New COntent Added*/
/*
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

    font-weight: inherit;
    font-size: 18px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-bottom:  2px solid #219;
    border-left: 4px solid #219;
}
.an-menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-left: 20px;
    text-decoration: none;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s,z-index 0s linear 0.01s;
}
.menu:focus .an-menu,
.menu:focus-within .an-menu,
.menu:hover .an-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}
.an-menu a
{
    position: relative;
    display: inline-block;

    padding: 5px 15px;
    padding-top: 10px;
    padding-bottom: 5px; 
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px; 
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    color: #fff;
    border-left: 2px solid #24ff0b;
}
.an-menu a:hover
{   
    left:8px;
    color:  #111;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
    font-weight: bold;
    font-size: 17px;

    border-bottom:  2px solid black;
    border-left: 4px solid black;
}*/